body {
	font-family: 'Open Sans', sans-serif ;
	background-color: #252525;
	color: #ffffff;
}

.site-logo {
	text-align: center;
}

.bg-secondary {
	background-image: url(img/darksharpedges.png);
}

.fa-github {
	font-size: 2em;
	color: white;
}

.fa-twitter {
	font-size: 2em;
	color: white;
}
.fa-instagram {
	font-size: 2em;
	color: white;
}
.fa-twitch {
	font-size: 2em;
	color: white;
}

#mathclass.p-4 {

	padding-top:10em!important;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif ;
}

#csclass.p-4 {

	padding-top:10em!important;
}

#fractaldude.p-4 {

	padding-top:10em!important;
}

a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

  a:visited {
	color: grey;
	text-decoration: none;
    background-color: transparent;
  }
  
  /* mouse over link */
  a:hover {
	color: grey;
	text-decoration: none;
    background-color: transparent;
  }
  
  /* selected link */
  a:active {
	color: grey;
	text-decoration: none;
    background-color: transparent;
  }

  .carousel-fade .carousel-item, .carousel-item img  {
	max-height: 85vh;
  }

  .carousel-indicators {
	position: absolute;
	right: 0;
	bottom: 10px;
	left: 0;
	z-index: 15;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	padding-left: 0;
	margin-right: 15%;
	margin-left: 10%;
	list-style: none;
  }