body {
	font-family: 'Open Sans', sans-serif ;
	background-color: #252525;
	color: #ffffff;
}

.site-logo {
	text-align: center;
}

.bg-secondary {
	background-image: url(img/darksharpedges.png);
}

.fa-github {
	font-size: 2em;
	color: white;
}

.fa-twitter {
	font-size: 2em;
	color: white;
}
.fa-instagram {
	font-size: 2em;
	color: white;
}
.fa-twitch {
	font-size: 2em;
	color: white;
}

#mathclass.p-4 {

	padding-top:10em!important;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif ;
}

#csclass.p-4 {

	padding-top:10em!important;
}

#fractaldude.p-4 {

	padding-top:10em!important;
}

a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

  a:visited {
	color: grey;
	text-decoration: none;
    background-color: transparent;
  }
  
  /* mouse over link */
  a:hover {
	color: grey;
	text-decoration: none;
    background-color: transparent;
  }
  
  /* selected link */
  a:active {
	color: grey;
	text-decoration: none;
    background-color: transparent;
  }

  .carousel-fade .carousel-item, .carousel-item img  {
	max-height: 100vh;
  }

  .carousel-indicators {
	position: absolute;
	right: 0;
	bottom: 10px;
	left: 0;
	z-index: 15;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	padding-left: 0;
	margin-right: 15%;
	margin-left: 10%;
	list-style: none;
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: white;
}

.carousel-indicators {
	bottom: 0;  /* Adjust this value if needed */
	transform: translateX(-50%);
	left: 40%;
	width: auto;
}


  
.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232B4E83' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232B4E83' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
  
.carousel-indicators li {
    background-color: #2B4E83;
        
}
.carousel-indicators .active {
    background-color: #598AC2;
}

div.gallery {
	border: 1px solid #ccc;
  }
  
  div.gallery:hover {
	border: 1px solid #777;
  }
  
  div.gallery img {
	width: 100%;
	height: auto;
  }
  
  div.desc {
	padding: 15px;
	text-align: center;
  }
  
  * {
	box-sizing: border-box;
  }
  
  @media only screen and (max-width: 700px) {
	.responsive {
	  width: 49.99999%;
	  margin: 6px 0;
	}
  }
  
  @media only screen and (max-width: 500px) {
	.responsive {
	  width: 100%;
	}
  }
  
  .clearfix:after {
	content: "";
	display: table;
	clear: both;
  }

  .responsive {
	display: inline-block;
	padding: 5px;
	box-sizing: border-box;
  }
  
  .gallery {
	width: 100%;
	height: auto;
	text-align: center;
  }
  
  .gallery img {
	width: 100%;
	height: auto;
  }
  